.wrapper {
    height: 560px;
    overflow-y: auto;
  }
  
  .wrapper thead,
  .wrapper tbody,
  .wrapper tfoot {
    box-sizing: border-box;
  }

  .wrapper tfoot {
    height: 43px;
  }
  
  .wrapper thead {
    background-color: white;
    border-bottom: solid 3px;
  }
  
  .wrapper tbody {
    height: 481px;
  }
  
  .wrapper tbody {
    border-bottom: 3px solid black;
  }
  
  .wrapper td {
    text-align: center;
  }