@font-face {
  font-family: "Jua";
  src: local("Jua"), url(../fonts/Jua.ttf) format("truetype");
}

.wrapper {
  height: 80px;
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  font-family: "Jua", sans-serif;
  font-size: 1.5rem;
  & a {
    margin: 0 10px 0 10px;
  }
  & a:hover {
    font-weight: bold;
    cursor: pointer;
  }
}
